@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

:root {
  --bg-color-white: #fff;
  --bg-color-black: #000;
  --main-width: 1190px;
}

* /*와일드 카드 셀렉터*/ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Nexon Lv1 Gothic";
  letter-spacing: -2px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}
