* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.background {
  width: 100%;
  height: 100vh;
  background: url("./contents/bg_2.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.background .outerbox {
  position: relative;
  width: 808px;
  height: 544px;
  background: url("./contents/outerbox.png") center/cover no-repeat;
}
.background .outerbox .wrapper {
  display: flex;
  padding: 36px;
}

.wrapper_left {
  width: 203px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.wrapper_left .wrapper_left_header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.wrapper_left .wrapper_left_header .zero {
  color: #dc143c;
}
.wrapper_left .wrapper_left_body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 15px;
  padding: 18px;
}
.wrapper_left .wrapper_left_body .left_body_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper_left .wrapper_left_body .left_body_header .left_body_header_gray {
  width: 148px;
  height: 133px;
  background: url("./contents/iu.jpg") center/cover no-repeat;
}
.wrapper_left .wrapper_left_body .left_body_header .left_body_header_line {
  border-top: 1px dotted #000;
  margin: 12px 0;
  width: 90%;
}
.wrapper_left .wrapper_left_body .left_body_profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper_left .wrapper_left_body .left_body_profile .profile_detail {
  display: flex;
  align-items: center;
  gap: 8px;
}
.wrapper_left .wrapper_left_body .left_body_profile .profile_detail span {
  font-size: 14px;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel .feel_title {
  font-weight: bold;
}

.wrapper_right {
  width: 524px;
  height: 472px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.wrapper_right .wrapper_right_header {
  display: flex;
  justify-content: space-between;
  color: #55b2e4;
}
.wrapper_right .wrapper_right_header .right_header_title {
  font-weight: bold;
}
.wrapper_right .wrapper_right_header .right_header {
  font-size: 14px;
}
.wrapper_right .wrapper_right_body {
  width: 100%;
  height: 445px;
  border: 1px solid #808080;
  border-radius: 7px;
  background: #fff;
}
.wrapper_right .wrapper_right_body iframe {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: none;
}

.navigation {
  position: absolute;
  top: 20%;
  right: -69px;
  width: 70px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation .navigation_item {
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  background: #55b2e4;
  border: 1px solid #000;
  border-radius: 0 10px 10px 0;
  font-size: 14px;
  cursor: pointer;
}