* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.skill-progress {
  width: 500px;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);

  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 40px;
  }
  /* 양쪽 끝으로 보내는 방법 참고하기★ */
  .item {
    article {
      margin-bottom: 5px;
      &:first-child {
        display: flex;
        justify-content: space-between;
      }
    }
    /* 선만드는 방법 참고하기★ */
    .progress {
      border: 1px solid #6cd4c4;
      border-radius: 3px;
      padding: 5px;
      .progress-level {
        height: 10px;
        background: linear-gradient(to right, #fa709a, #fee140);
        animation: ani 1s;
        /* AIN 종료되면 다시 시작 */
        animation-fill-mode: both;
      }
    }
  }
}
/* 일반구조 선택자 */
/* h2 태그 때문에 2번부터 시작 */
/* .skill-progress > .item:nth-child(2) .progress-level {
  width: 90%;
}
.skill-progress > .item:nth-child(3) .progress-level {
  width: 85%;
}
.skill-progress > .item:nth-child(4) .progress-level {
  width: 65%;
}
.skill-progress > .item:nth-child(5) .progress-level {
  width: 70%;
}
.skill-progress > .item:nth-child(6) .progress-level {
  width: 82%;
} */

/* 1번부터 시작 하고 싶으면*/
/* nth-of-type 같은 형태 부터 카운팅 하는 속성 사용 */
@keyframes ani {
  0% {
    width: 0;
  }
}

.skill-progress > .item:nth-of-type(1) .progress-level {
  width: 90%;
  animation-delay: 0s;
}
.skill-progress > .item:nth-of-type(2) .progress-level {
  width: 85%;
  animation-delay: 0.2s;
}
.skill-progress > .item:nth-of-type(3) .progress-level {
  width: 65%;
  animation-delay: 0.4s;
}
.skill-progress > .item:nth-of-type(4) .progress-level {
  width: 70%;
  animation-delay: 0.6s;
}
.skill-progress > .item:nth-of-type(5) .progress-level {
  width: 82%;
  animation-delay: 0.8s;
}
