* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* variable */
html {
  font-size: 16px;
}

main {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(25deg, violet, pink);
}
main h1 {
  position: absolute;
  top: 7vh;
  left: 4vw;
  font-size: 0;
}
main h1 strong {
  font-size: 36px;
  line-height: 1.4;
  color: #fff;
  letter-spacing: 1px;
}
main h1 span {
  padding-left: 3px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  opacity: 0.8;
}
main .menu {
  padding-top: 2px;
  position: absolute;
  top: 8vh;
  right: 4vw;
  font-size: 24px;
  color: #fff;
}
main > p {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  letter-spacing: 2px;
  transform: translateX(-50%);
  opacity: 0.8;
}
main section {
  margin-top: -25vh;
  margin-left: -10vw;
  position: absolute;
  top: 140%;
  left: 50%;
  width: 20vw;
  height: 65vh;
}
main section article {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
main section article .inner {
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5vh 2.5vw 8vh;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  background: #f0f7ff;
  transition: opacity 1s, transform 1s;
  border-radius: 10px;
  opacity: 0.6;
  transform: scale(0.8);
}
main section article .inner .pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 15vw;
  height: 15vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
main section article .inner .pic::before, main section article .inner .pic::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: inherit;
  height: inherit;
  background-image: inherit;
  background-repeat: inherit;
  background-position: inherit;
  background-size: inherit;
  content: "";
  border-radius: inherit;
  transform-origin: center center;
}
main section article .inner .pic::before {
  transform: translateY(10%);
  filter: blur(20px) brightness(1.6);
}
main section article .inner .pic .dot {
  width: 3vw;
  height: 3vw;
  background: #e4f1ff;
  border-radius: 50%;
  z-index: 3;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}
main section article.on .inner {
  transform: scale(1);
  opacity: 1;
}