* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tab-inner {
  width: 300px;
  height: 350px;
  position: relative;
  /* 눈에만 안보이게 숨기기 */
  input[name="tabMenu"] {
    display: none;
  }
  /* 한장으로 뭉치게함 */
  .content {
    position: absolute;
    top: 0;
    left: -50px;
    opacity: 0;
    transition: all 0.5s;
  }
  .heading {
    .text1,
    .text2,
    .text3 {
      /* 맨앞으로 튀어나옴 */
      position: absolute;
      top: 20px;
      left: 20px;
      width: 100px;
      height: 100px;
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      padding-top: 15px;
      border-radius: 100%;
      background-color: rgb(223, 60, 60);
      border-radius: 100%;
      opacity: 0;
      transform: translateY(-50px);
      transition: all 0.5s;
      span {
        font-size: 20px;
        display: block;
        font-weight: 500;
      }
    }
    .text2 {
      background-color: rgb(255, 120, 30);
    }
    .text3 {
      background-color: yellowgreen;
    }
  }
  .btn {
    width: 100%;
    justify-content: center;
    gap: 10px;
    position: absolute;
    display: flex;
    bottom: 10px;
    label {
      width: 20px;
      height: 20px;
      background-color: lightpink;
      border-radius: 100%;
      cursor: pointer;
      /* 텍스트 안보이게 */
      text-indent: -99999px;
    }
  }
  /* 인풋 아이디가 tab$인 선택자가 눌렸다면 */
  /* silde1  */
  input[id="tab1"]:checked ~ .slide1,
  input[id="tab2"]:checked ~ .slide2,
  input[id="tab3"]:checked ~ .slide3 {
    opacity: 1;
    left: 0;
  }
  input[id="tab1"]:checked ~ .btn label[for="tab1"],
  input[id="tab2"]:checked ~ .btn label[for="tab2"],
  input[id="tab3"]:checked ~ .btn label[for="tab3"] {
    background-color: rgb(223, 60, 60);
  }

  input[id="tab1"]:checked ~ .heading .text1,
  input[id="tab2"]:checked ~ .heading .text2,
  input[id="tab3"]:checked ~ .heading .text3 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5;
  }
}
