@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

@font-face {
  font-family: "Nexon Lv1 Gothic"; /*폰트만의 이름을 지어야함*/
  src: url("./fonts/NEXON\ Lv1\ Gothic\ OTF.woff") format("WOFF"); /*format란에는 font의 확장명 적어줌*/
  font-weight: 400;
}
@font-face {
  font-family: "Nexon Lv1 Gothic"; /*폰트만의 이름을 지어야함*/
  src: url("./fonts/NEXON\ Lv1\ Gothic\ OTF\ Bold.woff") format("WOFF"); /*format란에는 font의 확장명 적어줌*/
  font-weight: 700;
}

:root {
  --bg-color-white: #fff;
  --bg-color-black: #000;
  --main-width: 1190px;
}

* /*와일드 카드 셀렉터*/ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Nexon Lv1 Gothic";
  letter-spacing: -2px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}
