* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
body .circle.circle1 {
  background: burlywood;
}
body .circle.circle2 {
  background: peru;
}