* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 100px 100px 100px 100px 1fr;
  grid-template-areas: "title title title" "item1 item2 item3" "item4 item5 item6" "item7 item8 item9" "item10 item11 item12";
  .title {
    grid-area: title;
  }
  .contents {
    .items {
      div {
        .item1 {
          grid-area: item1;
        }
        .item2 {
          grid-area: item2;
        }
        .item3 {
          grid-area: item3;
        }
        .item4 {
          grid-area: item4;
        }
        .item5 {
          grid-area: item5;
        }
        .item7 {
          grid-area: item7;
        }
        .item8 {
          grid-area: item8;
        }
        .item9 {
          grid-area: item9;
        }
        .item10 {
          grid-area: item10;
        }
        .item11 {
          grid-area: item11;
        }
        .item12 {
          grid-area: item12;
        }
      }
    }
  }
  .bottom_text {
    grid-area: bottom_text;
  }
}
